name: "[sm] 01 - Test env"
on:
  push:
    branches:
      - dev
jobs:
  Env1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: "[sm.act] Set env"
        uses: sourcemint/sm.act.github.actions/.github/actions/sm-act-set-env@3c85349

      - name: "[sm.act] Show env"
        uses: sourcemint/sm.act.github.actions/.github/actions/sm-act-show-env@3c85349

      - shell: bash
        run: |
          printenv > .~env1.log
      - name: Upload result
        uses: actions/upload-artifact@v1
        with:
          name: env1
          path: .~env1.log
  Env2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: "[sm.act] Set env"
        uses: sourcemint/sm.act.github.actions/.github/actions/sm-act-set-env@3c85349

      - name: "[sm.act] Show env"
        uses: sourcemint/sm.act.github.actions/.github/actions/sm-act-show-env@3c85349

      - shell: bash
        run: |
          printenv > .~env2.log
      - name: Upload result
        uses: actions/upload-artifact@v1
        with:
          name: env2
          path: .~env2.log

  Verify:
    runs-on: ubuntu-latest
    needs:
      - Env1
      - Env2
    steps:
      - name: Download env1 result
        uses: actions/download-artifact@v1
        with:
          name: env1
      - name: Download env2 result
        uses: actions/download-artifact@v1
        with:
          name: env2

      - name: Compare
        shell: bash
        run: |

          # Remove variables expected to be different
          cat env1/.~env1.log | grep -ve '^\(INVOCATION_ID\|RUNNER_TRACKING_ID\|JOURNAL_STREAM\|GITHUB_ACTION\|GITHUB_JOB\|SM_ACT_TRIGGER_EVENT\|SM_ACT_ID\|SM_ACT_FSID\|SM_ACT_NAME\|SM_ACT_SNAPSHOT_ASPECT\|SM_ACT_SNAPSHOT_ID\|SM_ACT_SNAPSHOT_ID7\|SM_ACT_SNAPSHOT_HID\|SM_ACT_SNAPSHOT_FSID\|GITHUB_ENV\|GITHUB_PATH\)=' > env1/.~env1-filtered.log
          cat env2/.~env2.log | grep -ve '^\(INVOCATION_ID\|RUNNER_TRACKING_ID\|JOURNAL_STREAM\|GITHUB_ACTION\|GITHUB_JOB\|SM_ACT_TRIGGER_EVENT\|SM_ACT_ID\|SM_ACT_FSID\|SM_ACT_NAME\|SM_ACT_SNAPSHOT_ASPECT\|SM_ACT_SNAPSHOT_ID\|SM_ACT_SNAPSHOT_ID7\|SM_ACT_SNAPSHOT_HID\|SM_ACT_SNAPSHOT_FSID\|GITHUB_ENV\|GITHUB_PATH\)=' > env2/.~env2-filtered.log

          ls -al *

          # The remaining variables should be identical
          diff env1/.~env1-filtered.log env2/.~env2-filtered.log
