name: "[sm] 01 - Test env"
on:
  - push
jobs:
  Manual:
    runs-on: ubuntu-latest
    steps:
      # - uses: actions/checkout@v2
      #   # with:
      #   #   fetch-depth: 0

      - name: "[sm] Set env"
        run: |
          echo ::set-env name=SM_ACT_GIT_REMOTE::git@github.com:${GITHUB_REPOSITORY}.git
          echo ::set-env name=SM_ACT_GIT_REF::${GITHUB_REF}
          echo ::set-env name=SM_ACT_GIT_SHA::${GITHUB_SHA}
          echo ::set-env name=SM_ACT_GIT_SHA7::${GITHUB_SHA:0:7}
          echo ::set-env name=SM_ACT_RUN_ID::${GITHUB_RUN_ID}
          echo ::set-env name=SM_ACT_ACTOR_URI::github.com/${GITHUB_ACTOR}
          echo ::set-env name=SM_ACT_TRIGGER_EVENT::${GITHUB_EVENT_NAME}
          echo ::set-env name=SM_ACT_JOB_NAME::${GITHUB_JOB}

      - name: "[sm] Set branch env"
        if: ${{ ! startsWith(github.ref, 'refs/tags/') }}
        run: |
          echo ::set-env name=SM_ACT_GIT_BRANCH::${GITHUB_REF#refs/*/}

      - name: "[sm] Set tag env"
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          echo ::set-env name=SM_ACT_GIT_TAG::${GITHUB_REF#refs/*/}

      - name: "[sm] Show env"
        uses: sourcemint/sm.act.github.actions/.github/actions/sm-act-show-env@master

      - shell: bash
        run: |
          printenv > .~manual.log
      - name: Upload result
        uses: actions/upload-artifact@v1
        with:
          name: manual
          path: .~manual.log

      # - name: "[sm] Show fs status"
      #   run: |

      #     # git fetch origin
      #     # git config --global user.email "you@email.com"
      #     # git config --global user.name "Name"

      #     pwd
      #     ls -al
      #     git status
      #     git remote show origin

      #     # touch README.md
      #     # git add README.md
      #     # git commit -m "readme"
      #     # git push origin master

  Action:
    runs-on: ubuntu-latest
    steps:
      - name: "[sm] Set env"
        uses: sourcemint/sm.act.github.actions/.github/actions/sm-act-set-env@master

      - name: "[sm] Show env"
        uses: sourcemint/sm.act.github.actions/.github/actions/sm-act-show-env@master

      - shell: bash
        run: |
          printenv > .~action.log
      - name: Upload result
        uses: actions/upload-artifact@v1
        with:
          name: action
          path: .~action.log

  Verify:
    runs-on: ubuntu-latest
    needs:
      - Manual
      - Action
    steps:
      - name: Download manual result
        uses: actions/download-artifact@v1
        with:
          name: manual
      - name: Download action result
        uses: actions/download-artifact@v1
        with:
          name: action

      - name: Compare
        shell: bash
        run: |
          diff .~manual.log .~action.log
