name: "[sm] 02 - Write Snapshot"
on:
  push:
    tags-ignore:
      - _/gi0.Sourcemint.org-sm.act/snapshots/*
jobs:
  Snapshot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: "[sm.act] Set env"
        uses: sourcemint/sm.act.github.actions/.github/actions/sm-act-set-env@master

      - name: "[sm.act] Show env"
        uses: sourcemint/sm.act.github.actions/.github/actions/sm-act-show-env@master

      - shell: bash
        run: |
          echo "Hello World!" > test.txt

      - name: Upload test artifact
        uses: actions/upload-artifact@v1
        with:
          name: test.txt
          path: test.txt

      - name: "[sm.act] Write snapshot report"
        id: snapshot
        uses: sourcemint/sm.act.github.actions/.github/actions/sm-act-write-snapshot@master

      - shell: bash
        run: |
          git checkout ${{ steps.snapshot.outputs.branchName }}
          cat "${{ steps.snapshot.outputs.reportPath }}"

      - name: Upload snapshot
        uses: actions/upload-artifact@v1
        with:
          name: snapshot.json
          path: ${{ steps.snapshot.outputs.reportPath }}
