name: "[sm] 03 - Activate Snapshot"
on:
  push:
    tags:
      - '_/gi0.Sourcemint.org-sm.act/snapshots-active/**'
jobs:
  Snapshot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: "[sm.act] Set env"
        uses: sourcemint/sm.act.github.actions/.github/actions/sm-act-set-env@626c5e9

      - name: "[sm.act] Show env"
        uses: sourcemint/sm.act.github.actions/.github/actions/sm-act-show-env@626c5e9

      - name: "[sm.act] Activate snapshot"
        uses: sourcemint/sm.act.github.actions/.github/actions/sm-act-activate-snapshot@626c5e9
